<html>
  <head>
      <title>Email internationalization</title>
      <link rel="stylesheet" type="text/css" href="https://grmc.io/static/flask/libs/bootstrap/css/bootstrap.min.css"/>
      <script src="https://grmc.io/static/flask/libs/bootstrap/js/jquery.min.js"></script>
      <script src="https://grmc.io/static/flask/libs/bootstrap/js/bootstrap.js"></script>
  </head>
  <body>
   <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Email Internationalization</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left" action="/" method="POST">
            <div class="form-group">
              <label for="country_select">Convert to:</label>
              <img id="flag-id" src="https://grmc.io/static/flask/imgs/ca.png" height="30px">
              <select class="form-control" id="country_select" name="country_select">
                <option value="CA" {% if country == "CA" %}selected{% endif %}>CA</option>
                <option value="US" {% if country == "US" %}selected{% endif %}>US</option>
                <option value="GB" {% if country == "GB" %}selected{% endif %}>GB</option>
                <option value="AU" {% if country == "AU" %}selected{% endif %}>AU</option>
                <option value="NZ" {% if country == "NZ" %}selected{% endif %}>NZ</option>
              </select>
            </div>
            &nbsp;
            <div class="form-group">
              <label for="source">Source Code:</label>
              <input placeholder="Optional" class="form-control" id="source" name="source">
            </div>
            <input type="submit" class="btn btn-success" value="Run">
          </form>
          <div class="nav navbar-nav navbar-right" style="margin-top: 8px;">
            <a href="/replace/" class="btn btn-info">Edit {{ country }} Replace list</a>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <script>
      var country = $("#country_select option:selected").val()
      if (country == "CA") {
        $("#flag-id").attr("src", "https://grmc.io/static/flask/imgs/ca.png");
      } else if (country == "US") {
        $("#flag-id").attr("src", "https://grmc.io/static/flask/imgs/us.png");
      } else if (country == "GB") {
        $("#flag-id").attr("src", "https://grmc.io/static/flask/imgs/gb.png");
      } else if (country == "AU") {
        $("#flag-id").attr("src", "https://grmc.io/static/flask/imgs/au.png");
      } else if (country == "NZ") {
        $("#flag-id").attr("src", "https://grmc.io/static/flask/imgs/nz.png");
      };
      $("#country_select").change(function() {
          var country = $("#country_select option:selected").val()
          if (country == "CA") {
            $("#flag-id").attr("src", "https://grmc.io/static/flask/imgs/ca.png");
          } else if (country == "US") {
            $("#flag-id").attr("src", "https://grmc.io/static/flask/imgs/us.png");
          } else if (country == "GB") {
            $("#flag-id").attr("src", "https://grmc.io/static/flask/imgs/gb.png");
          } else if (country == "AU") {
            $("#flag-id").attr("src", "https://grmc.io/static/flask/imgs/au.png");
          } else if (country == "NZ") {
            $("#flag-id").attr("src", "https://grmc.io/static/flask/imgs/nz.png");
          };
          $.ajax({
              url: '/country/',
              type: 'POST',
              data: $("#country_select").serialize(),
              success: function(result) {
                console.log("Success");
                console.log(result);
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus);
              }
          });
      });

    </script>

    {% block content %}
    {% endblock %}
  </body>
</html>

