<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://grmc.io/static/flask/libs/bootstrap/css/bootstrap.min.css"/>
    <script src="https://grmc.io/static/flask/libs/bootstrap/js/jquery.min.js"></script>
    <script src="https://grmc.io/static/flask/libs/bootstrap/js/bootstrap.js"></script>
    <script src="https://grmc.io/static/flask/libs/ace/ace.js"></script>
  </head>
  <body>
      <div id="replace_editor" style="height:100%; width: 100%; font-size: 14px;">{{ data }}</div>
      <script>
          var editor = ace.edit("replace_editor");
          editor.setTheme("ace/theme/monokai");
          editor.getSession().setUseWrapMode(true);
          editor.getSession().setMode("ace/mode/csv");
          old_value = editor.getValue();

          setTimeout(check_diff_replace, 2000);
          function check_diff_replace() {
            console.log("Check diff");
            if (old_value != editor.getValue()) {
              $.ajax({
                  url: '/replace/',
                  type: 'POST',
                  data: { html: editor.getValue() },
                  success: function(result) {
                      console.log("Updated");
                      $('#replace_id', window.parent.document).attr('src', '/replace/');
                  }
              });

            }
            old_value = editor.getValue();
            setTimeout(check_diff_replace, 2000);
          }
      </script>
  </body>
</html>
